body {
  margin: 0;
  font-family: $ff-quicksand;
}

.sketch-border {
  border: solid 4px #41403e;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
}

.sketch-button {
  &:hover {
    cursor: pointer;
    box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, 0.3);
  }
}
