body {
  margin: 0;
  overflow: hidden;
  font-family: $ff-quicksand;
}

.sketch-border {
  border: solid 4px $sketch-color;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
}

.button {
  background-color: $sketch-color;
  color: white;
  font-weight: bold;
  font-family: $ff-marhey;
  font-size: inherit;
  padding: 0.5em 1em;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
    box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, 0.3);
    background-color: rgba($sketch-color, 0.8);
  }
}

.sketch-button {
  @extend .sketch-border;
  &:hover {
    cursor: pointer;
    box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, 0.3);
  }
}

.sketch-line {
  border: none;
  height: 3px;
  position: relative;
  margin: 0.5em -0.2em;
  background: linear-gradient(
    to right,
    transparent 1%,
    $sketch-color 10% 90%,
    transparent 99%
  );
}
