.hud {
  margin-top: 16px;
  position: absolute;
  width: 100%;

  &__content {
    position: relative;
    margin-inline: 32px;
    display: flex;
    justify-content: space-between;

    &__left {
      display: flex;
    }

    &__right {
      display: flex;
    }
  }
}

.hud__item {
  @extend .sketch-border;
  margin-inline: 12px;
  padding: 8px 12px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  user-select: none;

  &.sketch-button {
    &:hover {
      color: white;
      background-color: rgba(grey, 0.8);
      border-color: rgba(white, 0.8);
    }
  }

  &__title {
    font-family: $ff-marhey;
    font-weight: bold;
  }

  &__value {
    font-size: 24px;
    font-weight: bold;
    font-family: $ff-quicksand;
  }
}
